<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title of our awesome ReactJS page</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <p>Hello world from server side</p>
    <script src="build/client.bundle.js"></script>
  </body>
</html>
